  body {
      background-color: cornflowerblue;
    }

  h1 {
    color: whitesmoke;
    font-family: "Trebuchet MS", sans-serif;
  }

  .graph-inputs {
    width: 100%;
  }

  .object-inputs {
    border: 1px solid black;
    width: 100%;
  }

  .column {
    display: inline-grid;
  }

  .simulation-canvas-containter {
    display: inline-block;
  }

  .box {
    border: 1px solid black;
    width: 550px;
  }

  .instructions {
    width: 550px;
  }
