  body {
      background-color: cornflowerblue;
    }

  h1 {
    color: whitesmoke;
    font-family: "Trebuchet MS", sans-serif;
  }

  .object-inputs {
    border: 1px solid black;
  }

  .column {
    display: inline-grid;
  }

  .box {
    border: 1px solid black;
    width: 640px;
    background-color: rgb(219, 219, 219);
  }

  .instructions {
    border: 1px solid black;
    background-color: rgb(219, 219, 219);
    width: 50%;
  }
